{
    "presets": [
      "@babel/preset-env",
      ["@babel/preset-react", {
        "pragma": "h"
      }]
    ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
  }